
.pragraph{
    font-size: large;
}
/* body{
  background-image: url(../images/3d-gym-equipment.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
} */
.services{
    background-image: url(../images/3d-gym-equipment.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
   
    
}
section .section-header{
	max-width: 700px;
	text-align: center;
	padding-bottom: 50px;
	margin: 0px auto;
    color: #ffffff;

}


/* === removing default button style ===*/

.btn {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  /* button styling */
  .btn {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: #00e5ff;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .btn:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }

  
section.services {
  width: 90%;
  padding: 40px 5% 60px;
  margin-bottom: 40px; 
}
section .section-header h1{
	font-size: 42px;
	color: white;
	margin: 5px 0px 15px;
}

.services .services-contents{
	width:  90%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}
.services-contents .service-box {
	display: flex;
	padding: 20px;
	background-color:white;
  opacity: 0.9;
	border-radius: 5px;
	box-shadow: 6px 10px 5px #00e5ff;
	cursor: pointer;
	transition: all 0.3s;
  font-size: larger;
}

.services-contents .service-box:hover{
	transform: translateY(-3px);
}
.service-box .service-icon-box{
	min-width: 60px;
	min-height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: flex-start;
	border-radius: 50%;
	background-color: #fae7e1;
	outline: 3px solid #131212;
	outline-offset: 10px;
	margin: 10px 10px 0px 10px;
}
.service-box .service-icon-box i{
	font-size: 26px;
	color: var(--primary-clr);
}
.service-box .service-desc{
	margin-left: 15px;
	flex-basis: 1;
}
.service-box .service-desc h2{
	color: var(--dark-heading-clr);
	font-size: 26px;
	font-weight: 500;
	margin-bottom: 8px;
}
.service-box .service-desc p{
	font-style: 15px;
	color: var(--dark-text-clr);
	line-height: 1.4;}
   /* From Uiverse.io by andrew-demchenk0 */
   .rating input[type="radio"] {
    position: absolute;
    display: none;
  }
  
  .rating label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: #666;
  }
  
  .rating label::before {
    content: '★';
  }
  
  .rating input[type="radio"]:checked ~ label {
    color: #ffa723;
  }
  
  .rating label:hover,
  .rating label:hover ~ label {
    color: #ff9e0b;
  }
  
  .rating input[type="radio"]:checked ~ label:hover,
  .rating input[type="radio"]:checked ~ label:hover ~ label,
  .rating input[type="radio"]:checked ~ label ~ label:hover,
  .rating input[type="radio"]:checked ~ label ~ label:hover ~ label {
    color: #e58e09;
  }

  
  section.offer {
    position: relative;
    width: 100%;
    padding: 80px 8%;
    background: url(../images/offer/offer-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
  }

.offer .offer-overlay{
	position: absolute;
	width: 87%;
	height: 90%;
	top: 0;
	left: 0;
	background-image: url(../images/3d-gym-equipment\ \(1\).jpg);
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    opacity:0.3;
	z-index: 1;
}
.offer .offer-contents {
  position: relative;
  text-align: center;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -50px; 
}

.offer .offer-contents h1{
	font-size: 42px;
	text-transform: uppercase;
	color: rgb(0, 0, 0);
  margin-right: 150px;
	letter-spacing: 2px;
}
.offer .offer-contents span{
	margin: 10px 0px;
	font-size: 32px;
	color: black;
  margin-right: 150px;

}
.offer .offer-contents h3{
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color:black;
  margin-right: 150px;

}
  


.offer .offer-contents .start-training-btn{
	margin-top: 40px;
	padding: 12px 30px;
	font-size: 16px;
}
.btn2 {
    padding: 10px 25px;
    background-color: #00e5ff;
    color: rgb(65, 65, 65);
    font-size:larger;
    font-weight: 500;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 150px;

  }

.btn2:hover{
    background-color: rgb(0, 0, 0);
}

/*   === Offer Section Styling Ends ===   */
  